include ./label.pug

mixin card(name, imgSrc, label, labelColor)
 div(class='w-[285px] bg-white border border-white rounded py-10')
  div(class='bg-gray-100 w-full h-[300px]')
      img(src=imgSrc class="w-[100%] h-[100%] object-cover")
  div(class='flex flex-col items-center gap-5 text-center mt-2')
   p(class="font-bold") #{name}
   +label(labelColor, label)
  
