include ./label.pug
include ./card.pug

div(class='pt-12 flex flex-wrap gap-7 items-center justify-center')
  +card('Наташа Давыдова', '/team/natasha.jpg', 'орг всего хакатона', 'horange-1')
  +card('Арина Бекарева', '/team/arina.jpg', 'орг от НКО', 'horange-1')
  +card('Женя Соколов-Вилюзин', '/team/jenya.jpg', 'судья', 'hblue')
  +card('Никита Федоров', '/team/nikita.jpg', 'судья', 'hblue')
  +card('Вячеслав Леднёв', '/team/slava.jpg', 'судья', 'hblue')
  +card('Михаил Дедов', '/team/misha.jpg', 'создатель лэндинга', 'hred-1')
