include ./card.pug

div(class='flex lg:flex-row flex-col w-screen justify-center gap-20')
 +card('title', 'GDB, the GNU Project debugger, allows you to see what is going on `inside` another program', '/fox.svg')
 +card('title', 'GDB, the GNU Project debugger, allows you to see what is going on `inside` another program', '/giraffe.svg')
 +card('title', 'GDB, the GNU Project debugger, allows you to see what is going on `inside` another program', '/penguin.svg')
