mixin card(title, text, imageSrc)
 div(class='flex flex-col text-center justify-center items-center gap-5 lg:gap-8 w-[90%] lg:w-[250px] xl:w-[300px]')
  div(class='bg-white border border-white rounded-full w-[217px] h-[217px] flex justify-center align-center')
   img(class='relative top-5 mx-auto' src=imageSrc)
  h3(class='text-[32px] text-[#312F30] w-[217px]') #{title}
  div(class='text-[#474446]')
     p #{text}
