include ./card.pug

div(class='')
 +card('Фронты/фулстеки', 'Фронты любого стека (или фулстаки с уклоном во фронт). Грейд любой (найдутся и задачи, и возможность лидить)', '/fox.svg')
 +card('Бэки/фулстеки', 'Бэки любого стека (фулстаки любого стека). Грейд - джуниор (есть задачи), миддл (задачи джун уровня + возможность дидить)', '/giraffe.svg')
 +card('title', 'GDB, the GNU Project debugger, allows you to see what is going on `inside` another program', '/penguin.svg')
