include ./card.pug

ul(class='flex flex-col gap-5')
 +card('24', 'Окт', '20:00 по Мск', 'Начало регистрации',  'Старт подачи заявок, их аппрув и формирование команд')
 +card('5', 'Ноя', '20:00 по Мск', 'Окончание регистрации',  'Подача заявок закрывается, форма заявок деактивируется, продолжение формирования команд')
 +card('9', 'Ноя', '22:00 по Мск', 'Окончание формирования команд')
 +card('11', 'Ноя', '10:00 по Мск', 'Старт хакатона', 'Приветствие от оргов, выкладка заданий в открытый доступ')
 +card('12', 'Ноя', '17:00 по Мск', 'Окончание приема работ', 'До 17:00 работы должны быть оформлены по правилам и сданы на проверку. Любые коммиты после этого срока запрещены')
 +card('12', 'Ноя', '18:00 по Мск', 'Представление работ', 'Команды по очереди показывают свои проекты (~3 минуты на команду)')
 +card('12', 'Ноя', '19:30-21:30 по Мск', 'Судейство', 'Судьи разбирают работы и выставляют призовые баллы')
 +card('12', 'Ноя', '22:00 по Мск', 'Объявление результатов', 'НКО и судьи объявят 4 команды-победителя')