mixin card(title, text, imageSrc, href)
  div(class='flex flex-col gap-8 items-center')
   div(class=`w-[125px] h-[125px] flex justify-center items-center`)
    img(src=imageSrc class='w-[100%] h-[100%]')
   div(class="flex flex-col justify-center items-center")
    h2(class="text-[26px]")
       a(href=href target="_blank" class="transition duration-300 hover:text-horange-1") #{title}
    p(class="text-center") #{text}
