include ./card.pug

div(class='flex gap-5')
 +card('title', 'text', '/planet1.svg', 'bg-hbeige')
 +card('title', 'text', '/planet2.svg', 'bg-hgreen')
 +card('title', 'text', '/planet3.svg', 'bg-horange')
 +card('title', 'text', '/planet4.svg', 'bg-hyellow')
