mixin card(title, text, imageSrc)
  div(class='flex flex-col gap-8')
   div(class=`w-[235px] h-[235px] lg:w-[285px] lg:h-[285px] flex justify-center items-center`)
    img(src=imageSrc class='w-[100%] h-[100%] object-cover')
   div(class="flex flex-col justify-center items-center")
    h2(class="text-[#FFFFFF] text-[26px]") #{title}
    p(class="text-[#8E89C0]") #{text}
