include ./card.pug
div(class='flex flex-col gap-16')
    div(class='flex gap-2 lg:gap-16 flex-col md:flex-row justify-center')
     +card('title', 'text', '/planet1.svg', 'bg-hbeige-1')
     +card('title', 'text', '/planet2.svg', 'bg-hgreen')
     +card('title', 'text', '/planet3.svg', 'bg-horange-2')
    div(class='flex gap-2 lg:gap-16 flex-col md:flex-row justify-center')
     +card('title', 'text', '/planet4.svg', 'bg-hyellow')
     +card('title', 'text', '/planet4.svg', 'bg-hyellow')
