include ./card.pug
div(class='flex flex-col gap-16')
    div(class='flex gap-2 lg:gap-16 flex-col md:flex-row justify-center')
     +card('PeredelanoConf/reWorkedMeetup', 'Дарят проходки на свои конфы в РФ (reWorkedMeetup) и по всему миру (PeredelanoConf)', '/sponsors/peredelano.png')
     +card('Фил Ранжин', 'PeredelanoConf CEO', '/sponsors/fil.jpg')
     +card('Илья Лахов', 'PeredelanoConf CEO', '/sponsors/ilya.jpg')
    div(class='flex gap-2 lg:gap-16 flex-col md:flex-row justify-center')
     +card('Хекслет', 'Дарят подписку на 4 месяца (курсы для фронтов и бэков, джун уровня и выше)', '/sponsors/hexlet.svg', 'bg-hwhite', true)
     +card('Кирилл Мокевнин', 'Хекслет CEO', '/sponsors/kirill.jpg')
