include ./card.pug

ul(class='flex flex-col gap-5 mb-5')
 +card('10', 'January', '10:00 - 10:30', 'Event title',  'Event description')
 +card('10', 'January', '10:00 - 10:30', 'Event title',  'Event description')
 +card('10', 'January', '10:00 - 10:30', 'Event title',  'Event description')
