include ./label.pug
include ./card.pug


div(class='py-10')
 div(class='flex gap-2')
  +label('hblue', 'title')
  +label('hgreen', 'title')
  +label('hyellow', 'title')
  +label('horange-1', 'title')
div(class='flex')
 div(class='flex-none')
  img(src='/star2.svg' class='my-[100px]')
  img(classs='my-auto' src='/star2.svg')
 div(class='mb-20')
  div(class='flex flex-wrap gap-5 items-center justify-center')
   +card('hello')
   +card('hello')
   +card('hello')
   +card('hello')
   +card('hello')
   +card('hello')
   +card('hello')
   +card('hello')
 div(class='h-full')
  img(class='my-[100px]' src='/comet.svg')
  img(src='/star2.svg')
