include ./card.pug

div(class='flex gap-5')
 +card('10', 'January', 'Event title', '10:00 - 10:30', 'Event description')
 +card('10', 'January', 'Event title', '10:00 - 10:30', 'Event description')
 +card('10', 'January', 'Event title', '10:00 - 10:30', 'Event description')
