include ./label.pug
include ./card.pug


div(class='py-10')
 div(class='flex gap-2')
  +label('hgreen', 'title')
  +label('hyellow', 'title')
  +label('horange-1', 'title')
div(class='xl:w-[1170px] flex flex-wrap gap-7 items-center justify-center')
  +card('hello')
  +card('hello')
  +card('hello')
  +card('hello')
  +card('hello')
  +card('hello')
