mixin label(color, category)
 button(class=`border flex items-center gap-2 rounded-full bg-${color} text-white px-5`) 
  div(class='h-[10px] w-[10px] bg-white border border-white rounded-full')
  span #{category} 
