@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "dk-smiling-cat";
  src: url("/fonts/DK_Smiling_Cat.woff") format("woff");
}

@font-face {
  font-family: "linotte";
  src: url("/fonts/oLinotte-SemiBold_400.woff") format("woff");
}

@font-face {
  font-family: "woodford";
  src: url("/fonts/WoodfordBournePRO-Regular.woff") format("woff");
}


h1,
h2,
h3,
h4 {
  font-family: linotte;
}

div,
p,
span,
button {
  font-family: woodford;
  font-size: 20px;
}

html {
    scroll-behavior: smooth;
}

.logo__text {
    font-family: dk-smiling-cat;
}

.faq {
  background-image: url("/star4.svg"), url("/star4.svg"), url("/star4.svg"),
    url("/moon.svg");
  background-size:
    50px 50px,
    50px 50px,
    50px 50px,
    200px 200px;
  background-position:
    5% 20px,
    7% 95%,
    85% 80%,
    96% 10px;
  background-repeat: no-repeat;
  background-color: #fcc952;
}

.timeline {
  background-image: url("/rocket.svg"), url("/star2.svg"), url("/star2.svg"),
    url("/star2.svg");
  background-size:
    110px 190px,
    50px 50px,
    50px 50px,
    50px 50px;
  background-position:
    5% 0%,
    7% 95%,
    85% 80%,
    86% 20%;
  background-repeat: no-repeat;
}

.about {
  background-image: url("/comet.svg"), url("/star2.svg"), url("/rocket2.svg"),
    url("/star2.svg");
  background-size:
    130px 150px,
    50px 50px,
    140px 200px,
    50px 50px;
  background-position:
    5% 5%,
    7% 75%,
    95% 80%,
    86% 20%;
  background-repeat: no-repeat;
}

@media (max-width: 620px) {
  .about {
    background-size:
      130px 150px,
      50px 50px,
      0 0,
      50px 50px;
  }
}

.we-need {
  background-image: url("/star4.svg"), url("/star4.svg"), url("/star4.svg"),
    url("/star4.svg"), url("/star4.svg"), url("/star4.svg");
  background-size:
    50px 50px,
    50px 50px,
    50px 50px,
    50px 50px,
    50px 50px,
    50px 50px;
  background-position:
    10% 5%,
    5% 45%,
    10% 95%,
    85% 5%,
    90% 45%,
    85% 95%;
  background-repeat: no-repeat;
}

.sponsors {
  background-image: url("/planet1.svg"), url("/planet4.svg"), url("/comet.svg"),
    url("/planet2.svg"),url("/star4.svg");
  background-size:
    50px 50px,
    150px 150px,
    150px 150px,
    150px 150px,
    50px 50px;
  background-position:
    10% 5%,
    5% 45%,
    10% 95%,
    85% 5%,
    85% 95%;
  background-repeat: no-repeat;
}

.team {
  background-image: url("/star2.svg"), url("/star2.svg"), url("/comet.svg"),
    url("/star2.svg");
  background-size:
    50px 50px,
    50px 50px,
    170px 172px,
    50px 50px;
  background-position:
    15% 5%,
    90% 190%,
    90% 15%,
    15% 35%;
  background-repeat: no-repeat;
}

.about-content {
  background-image: url("/star2.svg");
  background-size: 50px 50px;
  background-position: 5% 5%;
  background-repeat: no-repeat;
}

.faq__question {
  position: relative;
  display: flex;
}

.faq__question:before {
  --bullet-dimensions: 50px;

  display: inline-flex;
  width: var(--bullet-dimensions);
  height: var(--bullet-dimensions);
  flex-shrink: 0;
  content: "";
  background: url("/tick.svg") no-repeat;
}
