@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "dk-smiling-cat";
  src: url("/fonts/DK_Smiling_Cat.woff") format("woff");
}

@font-face {
  font-family: "linotte";
  src: url("/fonts/oLinotte-SemiBold_400.woff") format("woff");
}

@font-face {
  font-family: "woodford";
  src: url("/fonts/WoodfordBournePRO-Regular.woff") format("woff");
}

.logo__text {
  font-family: dk-smiling-cat;
}

h1,
h2,
h3 {
  font-family: linotte;
}

div,
p,
span,
button {
  font-family: woodford;
  font-size: 20px;
}
